<div class="flex flex-col gap-4">
  <h1 class="text-3xl font-bold underline"><%= t("Products") %></h1>

<%= link_to "New product", new_product_path if authenticated? %>

  <div id="products">
    <% @products.each do |product| %>
      <div class="text-emerald-500">
          <%= link_to product.name, product %>
      </div>
    <% end %>
  </div>
</div>

