<div class="flex flex-col gap-4">
  <h1 class="text-3xl font-bold underline">Products</h1>
  <div id="products">
    <% @products.each do |product| %>
      <div>
          <%= link_to product.name, product %>
          </a>
      </div>
    <% end %>
  </div>
</div>

